/*############### HTML5 Elements ###############*/

dd { 
	display:none; 
    font-size: .45em;
}

dt {
    font-size: .5em;
}

html { 
	//overflow-y: hidden; 
}


/*############### Classes ###############*/

.map {
    height: 100%;
    width: 100%;
}

.modal-content {
	padding: 10px;
}

.modal fade bs-example-modal-lg {
	width: auto;
}

.modal-dialog modal-lg {
	width: auto;
}

.modal-content {
	width: auto;
}

.modal-content {
    position: relative;
    overflow-y: auto;
    max-height: 1200px;
	max-width: 1200px;
    padding: 15px;
}

.left {
	text-align: left;
}

.clickable {
	cursor: pointer;
}